<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.cscb07_app">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/appName"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".Activity.Admin.AdminViewBooks"></activity>
    <activity android:name=".Activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".Activity.Customer.CustomerStore" />
    <activity android:name=".Activity.Customer.CustomerCheckout" />
    <activity android:name=".Activity.Initialization.InitializationPopUp" />
    <activity android:name=".Activity.Initialization.InitializationCreateFirstAdmin" />
    <activity android:name=".Activity.Initialization.InitializationCreateFirstEmployee" />
    <activity android:name=".Activity.Employee.EmployeeAuthenticateEmployee" />
    <activity android:name=".Activity.Employee.EmployeeMakeEmployee" />
    <activity android:name=".Activity.Employee.EmployeeMakeAccount" />
    <activity android:name=".Activity.Employee.EmployeeRestockInventory" />
    <activity android:name=".Activity.Employee.EmployeeMakeUser" />
    <activity android:name=".Activity.Employee.EmployeeMenu" />
    <activity android:name=".Activity.Admin.Admin" />
    <activity android:name=".Activity.Login.LoginMenu"/>
  </application>
</manifest>